@import "assets/components/normalize.css/normalize.css";
@import "assets/components/fontawesome/scss/font-awesome.scss";
@import "assets/components/jquery.wheelmenu/wheelmenu.css";
@import "assets/components/appjs/dist/app.min.css";
@import "assets/components/sweetalert/lib/sweet-alert.css";

$button-bg: #65b04b;

body {
    -webkit-appearance: none;
    color: #333;
    line-height: 1.42;
}

.navigator {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1010;
    width: 40px;
    height: 40px;
}

.navigator .menu-item {
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.navigator .wheel-button {
    background: url(../images/menu.png) center center no-repeat #65b04b;
    background-size: 20px;
}

.navigator .wheel-button.weak {
    opacity: .2 !important;
}

.navigator .wheel-button.active.weak {
    opacity: 1 !important;
}

.navigator > .wheel > .item {
    width: 40px;
    height: 40px;
}

.navigator .wheel .personality > a {
    background: url(../images/personality.png) center center no-repeat #fff;
    background-size: 20px;
}

.navigator .wheel .resume > a {
    background: url(../images/resume.png) center center no-repeat #fff;
    background-size: 20px;
}

.navigator .wheel .aboutme > a {
    background: url(../images/aboutme.png) center center no-repeat #fff;
    background-size: 20px;
}

.navigator .wheel .feedback > a {
    background: url(../images/feedback.png) center center no-repeat #fff;
    background-size: 24px;
}

.app-page.home > .app-content {
    background: url(../images/bg.png) top center no-repeat #3d7030;
    background-size: 100% auto;
}

.app-page.home > .app-content .search {
    display: none;
    background: #297a1b;
    border: 1px solid #5fa647;
    border-radius: 8px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-page.home > .app-content .search > input[type=text] {
    padding: 6px 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: url(../images/search-bg.png) center center no-repeat transparent;
    background-size: auto 70%;
    font-size: 14px;
}

.app-page.home > .app-content .search > input[type=text]:hover {
    outline: none;
    color: #ccc;
    background-image: none;
}

.app-page.home > .app-content > .news {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.app-page.home > .app-content > .news > li {
    list-style: none;
    position: relative;
    background: #f9f9f9;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, .15);
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #F1F1F1;
    padding: 15px 10px 30px;
}

.app-page.home > .app-content > .news > li:after {
    display: block;
    position: absolute;
    background: url(../images/news-bottom.png) center center no-repeat transparent;
    bottom: -1px;
    right: -1px;
    width: 180px;
    height: 30px;
    background-size: 100% 100%;
    content: " ";
}

.app-page.home > .app-content > .news > li:before {
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    background: url(../images/sticker.png) center center no-repeat transparent;
    width: 80px;
    margin-left: -40px;
    height: 30px;
    background-size: 100%;
    content: " ";
}

.app-page.detail form {
    padding: 20px;

    input[type=text], textarea {
        margin-bottom: 10px;
    }
}

.article > .title > .title-inner {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 83%;
    overflow: hidden;
}

.article.headline > .title:after {
    content: "置顶";
    color: #fff;
    background: #fa5433;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    padding: 0px 3px;
}

.article > .detail {
    margin-bottom: 5px;
    color: gray;
}

.article > .detail > .tag {
    color: gray;
    font-size: 14px;
    background: #D9F7D3;
    border: 1px solid #ccc;
}

.article > .cover > img {
    width: 100%;
}

.article > .desc {
    color: gray;
} 

.app-page.detail .article {
    padding: 0px 20px;
}


.app-page.aboutme {
    p {
        padding: 6px 12px;

        &.logo {
            text-align: center;

            img {
                width: 120px;
            }
        }
    }
}


.bd-btn-block {
    $button-bg: #1c78c5;
    background: $button-bg;
    border-radius: 4px;
    border: none;
    color: #f1f1f1;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    outline: none;

    &:active {
        background: darken($button-bg, 10%);
    }
}


.submit-block {
    background: $button-bg;
    border-radius: 4px;
    border: none;
    color: #f1f1f1;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    outline: none;

    &:active {
        background: darken($button-bg, 10%);
    }
}

.app-input {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    font-size: 14px;
    padding: 10px 15px;
}

.app-page.feedback form {
    padding: 0px 20px;

    textarea {
        height: 180px;
        margin-bottom: 20px;
    }
}


.app-page.resume form {
    padding: 0px 20px;

    input[name=name] {
        margin-bottom: 10px;
    }

    textarea {
        height: 120px;
        margin-bottom: 30px;
    }
}



@mixin icon($size, $path) {
    width: $size;
    height: $size;
    display: inline-block;
    background: url($path) center center no-repeat transparent;
    background-size: 100% 100%;
    vertical-align: bottom;
}

.app-topbar.transparent {
    background: transparent;
}



.app-page.login {

    .app-content {
        box-shadow: none;
    }

    .wrapper {
        padding: 0px 20px;
    }

    p.head {
        text-align: center;
        margin-bottom: 40px;
    }

    p.logout {
        button {
            $button-bg: #fe5830;
            background: $button-bg;

            &:active {
                background: darken($button-bg, 10%);
            }
        }
    }

    .header {
        @include icon(75px, '../images/head.png');
    }

    img.avatar {
        max-width: 75px;
        max-height: 75px;
    }

    i.icon-baidu {
        @include icon(20px, '../images/baidu.png');
    }

    i.icon-weibo {
        @include icon(16px, '../images/weibo.png');
    }

    i.icon-qq {
        @include icon(16px, '../images/qq.png');
    }

    .baidu {
        margin-bottom: 10px;
    }

    .others {
        text-align: center;
        button {
            padding: 4px 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background: #fff;
            margin: 0px;
            font-size: 14px;
        }
    }
}

.app-page.transparent {
    .app-content {
        box-shadow: none;
    }

    .app-topbar {
        background: transparent;
    }
}

.app-page .app-topbar {
    color: #333;
}

.app-page {
    z-index: 1000;
}

.app-page.login, .app-page.resume,
.app-page.aboutme, .app-page.feedback, .app-page.detail {
    z-index: 1050;
}

.app-android .app-topbar .app-title {
    padding-left: 30px;
}
